* {
    font-family: Noto-sans-family, cursive; 
    margin: 0;
}
body{
    background-color: rgb(0, 0, 0);  
    width: 100%;
}
.header{
    position: fixed;
    height: 60px;
    width: 100%;
}
.header-wrapper{
    margin: auto;
    height: 100%;
}
.header-inner{
    text-align: center;
    height: 40px;
    padding-top: 20px;
    margin-right: 500px;
    background-color: rgb(0, 0, 0, 0.8);
}
.header-logo{
    text-align: center;
    float: left;
    height: 20px;
    margin: 5px 20px;
    font-size: 10px;
}
.header-logo span{
    color: gray;
}
.header-nav{
    display: block;
}
.nav-item{
    list-style: none;
    float: left;
    padding: 0px 20px;
    color: white;
}
.nav-link:hover{
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}
.nav-link{
    text-decoration: none;
    color: white;
}
/*Home*/
#home{
    margin: 0;
}
.home-wrapper{
    height: 900px;
    background-image: url(./textile.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    border-left: rgb(0, 0, 0) solid 2px;
}
.home-inner{
    text-align: center;
    height: 100%;
    padding-top: 350px;
    padding-bottom:300px;
    background:linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.986),rgb(0, 0, 0));
}
h1, h2,h4{
    color: white;
}
@media(max-width: 1024px ){
    .home-title1{
        font-size: 50px;
    }
}
@media(max-width: 670px ){
    .home-title1{
        font-size: 30px;
    }
}
.home-title1{
    line-height: 1.1;
    font-size: 70px;
    padding: 10px 0px;
}
.home-title2{
    padding: 10px 0px;
}
/*About*/
.content-wrapper{
    height: 800px;
}
.content-inner{
    height: 100%;
    margin: 30px;
}
.content-title{
  padding: 60px 60px 10px 60px;
  text-align: center;
}
.about-box{
    display: flex;
    flex-wrap: wrap;
}
.about-box-left, .about-box-right{
    flex: auto;
    padding: 40px 60px;
    width: 40%;
}
.about-box-en, .about-box-jp{
    padding: 10px 20px;
}
p.about-box-en-content, p.about-box-jp-content{
    line-height: 40px;
}
.about-button-container{
    padding: 20px 100px;
    position: center;
    font-size: 30px;
}
.social-buttons{
    color: white;
    height: 100%;
    padding: 0 40px;
    list-style: none;
    text-align: center;
}
.social-button{
    padding: 0 30px;
    size: 100px;
    list-style: none;
    display: inline-block;
}
i.fab{
    opacity: 0 0;
    color: white;
}
a{
    cursor: pointer;
}
.about-image-box{
    height: 150px;
    padding: 60px 60px;
}
/* Skills*/
#skills{
    height: 700px;
}
.skills-content-wrapper{
    height: 700px;
}
.skills-content-inner{
    height: 700px;
}
.skills-container{
    margin: 50px 10px;
    padding: 50px 10px;
    height: 700px;
    text-align: center;
}
.skills-container ul{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 100px 30px;
    text-align: center;
}
li.skills-icon{
    display: inline-block;
    flex: auto;
    width: 30%;
    margin: 10px;
    height: 400px;
}
.skills-icon-html:hover{
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}
.icon-text-html-container{
    visibility: hidden;
}
.skills-icon-html:hover + .icon-text-html-container{
    visibility: visible;
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}
.skills-icon-javascript:hover{
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}
.icon-text-javascript-container{
    visibility: hidden;
}
.skills-icon-javascript:hover + .icon-text-javascript-container{
    visibility: visible;
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}
.skills-icon-github:hover{
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}
.icon-text-github-container{
    visibility: hidden;
}
.skills-icon-github:hover + .icon-text-github-container{
    visibility: visible;
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}
.skills-icons i.fab{
    font-size: 50px;
}
i.fab:hover{
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}
h5{
    font-size: 16px;
    margin: 20px;
}
/*h5:hover{
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}

h5:hover + p.text-html{
    color: rgb(151, 62, 62);
    transition: color 0.5s ease 0s;
}*/
/*portfolio*/
.portfolio-gallery{
    padding: auto 60px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item{
    flex: auto;
    width: 33.33333%;
    position: relative;
    width: 280px;
    height: 180px;
    margin: 50px 20px;
}
.portfolio-item img{
    width: 280px;
    height: 180px;
}
dl{
    width: 280px;
    height: 180px;
    position: absolute;
	top: 0;
	margin: 0;
	padding: 16px 24px;
	box-sizing: border-box;
	color: #fff;
	background: rgba(205,92,92,.8);
}
.portfolio-item {
	overflow: hidden;
}
.portfolio-item dl {
	transition: opacity .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.portfolio-item:not(:hover) dl {
	opacity: 0;
	transform: translateY(100%);
}

/*history*/
#history, .content-inner{
    padding: 30px 40px;
}
.hidden-box-upper, .hidden-box-lower{
    margin: 30px 40px;
    height: 200px;
}
.hidden-box-upper, span{
    color: white;
}
.hidden-box-upper{
    display: flex;
    justify-content: center;
}
.hidden-box-lower{
    display: flex;
    justify-content: center;
}
.hidden-box1,.hidden-box2{
    margin: 40px 30px 30px 30px;
    padding: 30px 5px 10px 5px;
    width:250px;
    line-height: 2;
    text-align: center;
    border-radius: 10%;
    animation: change 5s ease 1s infinite forwards;
}
.hidden-box3, .hidden-box4{
    margin: 40px 30px 30px 30px;
    padding: 10px 5px 10px 5px;
    width:250px;
    line-height: 2;
    text-align: center;
    border-radius: 10%;
    animation: change 5s ease 1s infinite forwards;
}
@keyframes change{
    0% { background-color: #f55448; }
    20% { background-color: #f78f88; }
    40% { background-color: #f77a71; }
    60% { background-color: #f55448; }
    80% { background-color: #f55246; }
    100% { background-color: #f54235; }
}
.history-image-wrapper{
    padding: 20px 0;
    height: 80px;

}
.history-image-inner{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-image-inner a{
    color: rgba(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
}
#history1,#history2, #history3, #history4{
    flex: auto;
    float: left;
    background-color: white;
    height: 25px;
    padding: 5px;
    text-align: right;
    margin-left: -1px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}
#history1, #history2{
    width: 280px;
    flex: 3 3 280px;
}
#history3{
    width: 180px;
    flex: 2 2 180px;
}
#history4{
    width: 70px;
    flex: 1 1 80px;
}
#history1:hover{
    background: rgb(151, 62, 62);
}
#history2:hover{
    background: rgb(148, 41, 41)0;
}
#history3:hover{
    background: rgb(153, 27, 27);
}
#history4:hover{
    background: rgb(156, 9, 9);
}

/*contact*/
.contact-wrapper{
    height: 700px;
    background-image: url(./textile.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    border-left: rgb(0, 0, 0) solid 2px;
}
.contact-inner{
    height: 100%;
    background:linear-gradient(to top, transparent, rgba(0, 0, 0, 0.719),rgb(0, 0, 0));
}
form{
    margin: 10px 100px 30px 100px;
    padding: 10px 100px 30px 100px;
    width: 500px;
    height: 500px;
    color: white;
}
.form-group{
    padding: 10px 30px;
}
form p{
    padding-bottom: 10px;
}
.form-control{
    height: 40px;
}
.form-control, #form-message{
    width: 400px;
}
.submit-button{
    margin: 30px;
    font-size: 20px;
    background-color: rgb(151, 62, 62);
    border-radius: 5%;
    border: 0.5px solid rgb(151, 62, 62);
    box-shadow: 0 5px 0 rgb(156, 9, 9), 0 10px 0 rgba(24, 23, 23, 0.2);
    transition: color 0.3s, background 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}
.submit-button:active{
    box-shadow:none;
    position: relative;
    top: 5px;
    transition-duration: 0.1s;
    animation: flash 2s;
}
@keyframes flash{
    0% {background: rgb(151, 62, 62);}
    10% {background: rgb(182, 150, 150);}
    100% {background: rgb(151, 62, 62);}
}
.submit-button:focus{
    outline: 0;
}
/*footer*/
#footer{
    background-color: rgba(0, 0, 0, 0.007);
    height: 150px;
}
.footer-wrapper{
   margin: auto 15px;
   text-align: center;
   font-size: 15px;
   height: 100%; 

}
.footer-inner{
    padding: 20px auto;
}
.copy-link-scroll-top p{
    text-decoration: none;
    color: gray;
}
.footer-inner ul{
    font-size: 10px;
    padding: 20px 0 20px 0;
}
.social li{
    display: inline-block;

}
.social li a{
    padding: 10px;
}
.footer-inner i{
    color: gray;
    font-size: 15px;
}
footer p{
    padding-top: 5px;
}
#footer span{
    color: gray;
    text-decoration: none;
}
